.parallax {
  background-image: url("night-bg.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  margin:0;
  padding:0;
}
#catchy{
  width:100%;
  display:none;
  padding-top:350px;
  color:white;
  text-align: center;
  font-size:calc(10px + 1vh);
}
/*ここまでパララックス*/
.modal{
  display:none;
  position:fixed;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content{
  background-color:rgba(0, 0, 0, 0.81);
  margin:15% auto;
  padding: 20px;
  border:1px solid #888;
  width:80%;
}
.close{
  color:#aaa;
  float:right;
  font-size:28px;
  font-weight:bold;
}
.close:hover,.close:focus{
  font-size:32px;
  color:white;
  text-decoration:none;
  cursor:pointer;
}
.box h1{
  text-align: center;
  font-size: 20px;
  color:white;
}
.box input{
  margin:10px auto;
  padding:10px 20px;
  text-align: center;
  color:white;
  background-color: rgba(0, 0, 0, 0.81);
  display:block;
  border: 2px solid #2d51bd;
  border-radius: 24px;
  transition: 0.4s;
  outline:none;
}
input[type='text']:hover,input[type='text']:active{
  padding:10px 30px;
  background-color: rgba(#2d51bd, 0.83);
  outline:none;
}
input[type='submit']:hover{
  background-color: royalblue;
  outline:none;
}
/*ここまで予約モーダル*/
.top-container{
  height:80px;
  background-color: rgba(228, 39, 39, 0.8);
  position: fixed;
  top:0;
  width:100%;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.rogo{
  height:80px;
  width:240px;
}
.menus{
  margin:0 auto;
  display:flex;
  float: right;
}
.menu{
  display: block;
  width:80px;
  text-align: center;
  text-decoration: none;
  color: white;
  line-height: 80px;
  transition: 0.3s;
}
.menu:hover{
  background-color: rgba(228, 39, 39, 1);
  border:3px solid rgba(228, 39, 39, 1);
  border-radius: 10px;
}
.book{
  cursor:pointer;
}
/*ここまでヘッダー*/
.course-intro{
  width:100%;
  height:auto;
}
.introduce{
  text-align: center;
  color:rgb(43, 43, 43);
}
.introduce h3{
  line-height: 35px;
}
.bg-holder{
  height:360px;
}
.on{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.place-image{
  position:relative;
  background-position:center center;
  background-image: url("nice-bg.jpg");
  height:100%;
  width:100%;
  border-radius: 100px;
  background-size: cover;
}
.intro-sentence span{
  color:rgba(186, 58, 58, 1);
}
.intro-sentence{
  font-size: calc(10px+2vmin);
  line-height: 35px;
}
.btn-wrapper{
  height: 70px;
  width:100%;
}
.btn{
  margin: 20px auto;
  width:140px;
  font-size:20px;
  padding:10px 20px;
  background-color: rgb(71, 71, 71);
  color:white;
  border-radius: 10px;
  transition: 0.3s;
}
.btn:hover{
  margin: 20px auto;
  width:140px;
  font-size:20px;
  padding:10px 60px;
  background-color: rgb(83, 126, 255);
  color: black;
  border-radius: 30px;
  box-shadow: 0px 4px rgb(55, 84, 172);
}
.btn:active{
  box-shadow: none;
  position: relative;
  top:4px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 490px;
}

table tr:last-child{
  border-bottom:solid 1px #ddd;
}

table th{
  text-align: center;
  padding: 7px 0;
  border-right:solid 1px #ddd;
  border-left:solid 1px #ddd;
  width: 155px;
}

table th:nth-child(1){
  background-color:#dddddd;
}

table th:nth-child(3){
  background-color:#f5b932;
  color: white;
}

table th:nth-child(4){
  background-color:#5070fc;
  color: white;
}

table tr:nth-child(2) td{
  font-size: 30px;
}

table td{
  text-align: center;
  padding: 7px 0;
  border-right:solid 1px #ddd;
  border-left:solid 1px #ddd;
  width: 155px;
}

table td a{
  background-color: #25b327;
  color: white;
  padding:5px 20px;
  border-radius: 30px;
  font-weight: bold;
}

table .popular{
  width: 180px;
}

table th.popular{
  position: relative;
}

table th.popular span.no1{
  position: absolute;
  top: -10px;
  left:calc(50% - 30px);
  background: #bdcc28;
  width: 60px;
  font-size: 10px;
  border-radius: 15px;
  line-height: 1;
  padding: 5px;
}

table th.popular span.inner{
  position: absolute;
  color:white;
  background-color: #f34955;
  left: 0;
  bottom: 0;
  display: block;
  width: 180px;
  padding: 10px 0;
}
.price{
  margin-top:100px;
  margin-bottom: 15px;
  color:rgb(247, 68, 45);
  text-align: left;
}
.price-content li{
  list-style: none;
  }
.price-content{
  float: left;
  color:rgb(55, 84, 172);
  text-align: left;
  margin-left: 10px;
}
.box_wrap {
  width:100%;
  height:auto;
}
.clearfix:after {
display: block;
clear: both;
content: "";
}
/*ここまでメイン*/
footer{
  width:100%;
  margin:0;
  position: absolute;
}
.bottom-container{
  transition: 0.3s;
  height:220px;
  width:inherit;
  background-color: rgb(71, 71, 71);
  text-align: center;
}
.snses{
  width:80%;
  margin:0 auto;
}
.sns{
  text-decoration: none;
  display: inline-block;
  width:60px;
  list-style: none;
  margin:10px 30px;
  color:white;
  transition:0.3s
}
.fab{
  font-size: 50px;
}
/*ここまでフッター*/
